// Margins/Padding

$side-gutter: 75px;
$container-margins: 30px;
$title-margins: 30px;
$para-margins: 30px;

$side-gutter-sm: 10%;

// Colours

$brand-col1: #f0f2f2;
$brand-col2: #bfbdbd;
$brand-col3: #466673;
$brand-col4: #1a2e40;
$brand-col5: #161d26;

// Font-size

$h1-size: 40px;
$h2-size: 32px;
$h3-size: 22px;
$h4-size: 18px;
$h5-size: 16px;

// Sizes

$section-min: 400px;

$image-min: 200px;
$image-max: 300px;

$card-min: 200px;
$card-max: 300px;

$content-max-width: 1200px;
